:root {
  --cor-primaria: #81d742;
  --cor-secundaria: #0073E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}